html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Gotham", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  color: #14273c;

  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Gotham;
  src: url("./fonts/Gotham-Book.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: Gotham;
  src: url("./fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: Gotham;
  src: url("./fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: Gotham;
  src: url("./fonts/Gotham-Black.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: audimat;
  src: url("./fonts/audimat-mono-light.ttf") format("truetype");
}

@font-face {
  font-family: neuton;
  src: url("./fonts/neuton.ttf") format("truetype");
}

h1 {
  margin: 0px; /* was 20 px */
  /*
  text-align:center;*/
  font-weight: 100;
  font-size: 2rem;
}

h2 {
  margin: 0px;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

p {
  font-size: 1rem;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav {
  display: flex;
  flex-direction: row;
}

.navelement {
  padding: 1rem;
  text-align: center;
  margin: auto;
}

.navelement > h2 {
  margin-bottom: 0;
  margin: auto;
}

#slidercontainer {
  flex-grow: 1;
}

#slider {
  width: 100%;
  min-width: 200px;
}

svg {
  fill: #68bbe8;
}

select {
  min-width: 12rem;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

select:first-child {
  margin-top: 0;
}
